/* Login Page */

.login {
	text-align: center; 	
}

label {
	font-size: 24px; 
	text-align: center; 	
}

input {
		font-size: 24px; 	
		height: 40px; 
		width: 200px; 
		text-align: center; 
		margin: 20px;  
}

.radio {
	text-align: left; 
	width: 100px; 
	height: 20px; 
	font-size: 12px; 
	margin-left: 200px; 	
}

input.textbox {
	width: 400px;
	text-align: left;  	
}

select {
	font-size: 24px; 	
	margin: 10px;
	margin-left: 30px;  
}

.must {
	display: none; 	
}

.recommend {
	display: none; 	
}

.editor {
	display: none; 	
}

.change {
	display: none; 	
}
