/* for index.php */

/* Defulat */

html {
/*	font-family: "PT Sans", "Microsoft JhengHei", "Microsoft YaHei", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "LiHei Pro", Tahoma, Arial;	*/
	background-color: #F6F6F6; 
}


hr {
	border: 0;
	height: 2px; 
	background-color: #32D800; 
	color: #32D800; 
}

.outliner {
	width: 1180px; 
	position: relative; 
	background-color: #F6F6F6; 
	margin-top: 70px; 	
}

@media screen and (min-width: 1185px) {
	.outliner {
		left: 50%; 
		margin-left: -590px;
	}
}

/* header */
img.logo {
	margin-top: -10px; 
	height: 40px; 
	width: 96px; 
}


/* content-focus */
.content-focus {
	width: 384px; 
	height: 345px;  
	background-color: #CCD5CB;
	padding: 2px;  
}

.content-focus img {
	width: 380px; 
	height: 270px; 
}

.content-focus h3 {
	
}

.content-focus p {
	
}


/* content-formal */

.content-formal {
	width: 184px; 
	height: 165px; 
	background-color: #CCD5CB; 	
	padding: 2px; 
}

.content-formal img {
	width: 180px; 
	height: 101px; 
}

.content-formal h3 {
	
}

.content-formal p {
	
}

/* 今日必看 */

.must {
	width: 976px;
	height: 410px;  	
}

p.must-list {
	position: absolute;
	top: 8px; 	 	
	left: 155px;
	font-size: 24px;  
}

/* 精彩推薦 */

.recommend {
	width: 184px; 	
	height: 345px; 
	background-color: #CCD5CB; 
	margin-left: 10px;
	padding: 2px;  
}

.recommend img {
	width: 180px; 
	height: 101px; 
}

.recommend h3 {
	
}

.recommend p {
	
}

/* 小編狂推 */
