/* for index.php */

/* Defulat */

html {
/*	font-family: "PT Sans", "Microsoft JhengHei", "Microsoft YaHei", "Microsoft YaHei UI", "WenQuanYi Micro Hei", "LiHei Pro", Tahoma, Arial;	*/
	background-color: #F6F6F6; 
}


hr {
	border: 0;
	height: 2px; 
	background-color: #32D800; 
	color: #32D800; 
}

@media screen and (min-width: 1185px) {
	.outliner {
		width: 1180px; 
		position: relative; 
		left: 50%; 
		margin-left: -590px; 
	}
}

@media screen and (max-width: 1184px) {
	.outliner {
		width: 1180px; 
		position: relative; 	
	}	
}


/* header */
img.logo {
	margin-top: -10px; 
	height: 40px; 
	width: 96px; 
}


/* content-focus */
.content-focus {
	width: 384px; 
	height: 345px;  
	background-color: #CCD5CB; 
}

.content-focus img {
	width: 380px; 
	height: 270px; 
	margin: 2px; 
}

.content-focus h3 {
	
}

.content-focus p {
	
}


/* content-formal */

.content-formal {
	width: 184px; 
	height: 165px; 
	background-color: #CCD5CB; 	
}

.content-formal img {
	width: 180px; 
	height: 101px; 
	margin: 2px; 	
}

.content-formal h3 {
	
}

.content-formal p {
	
}

/* recommend */

.recommend {
	width: 184px; 	
	height: 345px; 
	background-color: #CCD5CB; 
}

.recommend img {
	width: 180px; 
	height: 101px; 
	margin: 2px; 
}

.recommend h3 {
	
}

.recommend p {
	
}

